

.heading{
    width: 100%;
    text-align: left;

}

.heading button{
    float: right;
    border: 1px dashed white;
}

.heading  h3{
    display: inline; 
}

.start{
    font-size: 20px;
}

#canvas{
    
}